.app {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}
.light {
  background: #f6f6f6;
  color: #222;
}
.dark {
  background: #222;
  color: #f6f6f6;
}